body {
    font: 18px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: beige;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}

.title{
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    background-color: lightblue;
    color: black;
}

.videoplayer{
    display: block;
    margin: auto;
}

.cards{
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgb(165, 164, 164));
}